## Step 1: link to the API

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pandas.io.json import json_normalize
import requests
from config import key
from config import gkey

In [23]:
key = "greywolf16"

#get state code number --CA 06
state_url = "https://aqs.epa.gov/data/api/list/states?email="+gkey+"&key="+key
response = requests.get(state_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
state_df = pd.DataFrame.from_dict(response_json_data)
state_df.head()

  code value_represented
0   01           Alabama
1   02            Alaska
2   04           Arizona
3   05          Arkansas
4   06        California

In [14]:
#get SF code -- 075
city_url = "https://aqs.epa.gov/data/api/list/countiesByState?email="+gkey +"&key="+key+"&state=06"
response = requests.get(city_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
city_df = pd.DataFrame.from_dict(response_json_data)
city_df

   code value_represented
0   001           Alameda
1   003            Alpine
2   005            Amador
3   007             Butte
4   009         Calaveras
5   011            Colusa
6   013      Contra Costa
7   015         Del Norte
8   017         El Dorado
9   019            Fresno
10  021             Glenn
11  023          Humboldt
12  025          Imperial
13  027              Inyo
14  029              Kern
15  031             Kings
16  033              Lake
17  035            Lassen
18  037       Los Angeles
19  039            Madera
20  041             Marin
21  043          Mariposa
22  045         Mendocino
23  047            Merced
24  049             Modoc
25  051              Mono
26  053          Monterey
27  055              Napa
28  057            Nevada
29  059            Orange
30  061            Placer
31  063            Plumas
32  065         Riverside
33  067        Sacramento
34  069        San Benito
35  071    San Bernardino
36  073         San Diego
37  075     San Francisco
38  077       San Joaquin
39  079   San Luis Obispo
40  081         San Mateo
41  083     Santa Barbara
42  085       Santa Clara
43  087        Santa Cruz
44  089            Shasta
45  091            Sierra
46  093          Siskiyou
47  095            Solano
48  097            Sonoma
49  099        Stanislaus
50  101            Sutter
51  103            Tehama
52  105           Trinity
53  107            Tulare
54  109          Tuolumne
55  111           Ventura
56  113              Yolo
57  115              Yuba

In [15]:
#CBSAs code": "41860",
#      "value_represented": "San Francisco-Oakland-Hayward, CA

#  "Parameter code": "PM2.5 CONT NONREF",
#       "value_represented": "PM2.5 Continuous, Nonreference Methods"
#     },
#     {
#       "code": "PM2.5 MASS/QA",
#       "value_represented": "PM2.5 Mass and QA Parameters"


# "CRITERIA code": "88101",
#       "value_represented": "PM2.5 - Local Conditions"

In [48]:
#get current 1y PM 2.5 data for SF
#https://aqs.epa.gov/data/api/sampleData/byCBSA?email=test@aqs.api&key=test&param=42602&bdate=20170101&edate=20170101&cbsa=16740
#sf_url = "https://aqs.epa.gov/data/api/sampleData/byCBSA?email="+gkey+"&key="+key+"&param=88101&bdate=20190101&edate=20190101&cbsa=41860"

sf_url = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county=075"

response = requests.get(sf_url)
response_json = response.json()
#print(response_json)
response_json_data = response_json['Data']
# #print(response_json_data)
sf_df = pd.DataFrame.from_dict(response_json_data)
sf_df.head()

#https://aqs.epa.gov/data/api/monitors/byState?email=test@aqs.api&key=test&param=42401&bdate=20150501&edate=20150502&state=15

,aqi,arithmetic_mean,cbsa,cbsa_code,city,county,county_code,date_local,date_of_last_change,datum,...,parameter_code,poc,pollutant_standard,sample_duration,site_address,site_number,state,state_code,units_of_measure,validity_indicator
0,28.0,6.7,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-31,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
1,22.0,5.2,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-30,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
2,23.0,5.4,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-29,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
3,24.0,5.7,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-28,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
4,15.0,3.5,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-27,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y

In [49]:
#choose only "pm2.5 24h standard"
sf_df_new = sf_df.loc[sf_df['pollutant_standard']=="PM25 24-hour 2012"]
sf_df_new.head()

,aqi,arithmetic_mean,cbsa,cbsa_code,city,county,county_code,date_local,date_of_last_change,datum,...,parameter_code,poc,pollutant_standard,sample_duration,site_address,site_number,state,state_code,units_of_measure,validity_indicator
5444,28.0,6.7,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-31,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2012,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
5445,22.0,5.2,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-30,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2012,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
5446,23.0,5.4,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-29,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2012,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
5447,24.0,5.7,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-28,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2012,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y
5448,15.0,3.5,"San Francisco-Oakland-Hayward, CA",41860,San Francisco,San Francisco,075,2019-03-27,2019-08-27,WGS84,...,88101,3,PM25 24-hour 2012,24-HR BLK AVG,10 ARKANSAS ST.,0005,California,06,Micrograms/cubic meter (LC),Y

In [50]:
#get min,max,mean
aqi_min = sf_df_new['aqi'].min()
aqi_max =sf_df_new['aqi'].max()
aqi_mean = sf_df_new['aqi'].mean()

print(aqi_min)
print(aqi_max)
print(aqi_mean)

0.0
228.0
33.141828254847645

In [39]:
# summurize data in categories
size_bins = [0,50,100,150,200,300,500]
size_names= ['good','Moderate','Unhealthy for sensitive groups','unhealthy','very unhealthy','hazardous']
sf_df_bin = sf_df_new[['date_local']].groupby(pd.cut(sf_df_new['aqi'],bins=size_bins,labels=size_names)).count()
sf_df_bin

                                date_local
aqi
good                                  1440
Moderate                               296
Unhealthy for sensitive groups           9
unhealthy                               11
very unhealthy                           1
hazardous                                0

## Step 2: export data to the database

In [53]:
sf_df_new.to_csv("sf_aqi",index=False)