# Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pandas.io.json import json_normalize
import requests
from config import key
from config import gkey
import time
import pymongo
import string
import json

# Step 1: Pull Data

### Identify which API calls to make

In [ ]:
# get state codes
state_url = "https://aqs.epa.gov/data/api/list/states?email="+gkey+"&key="+key
response = requests.get(state_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
state_df = pd.DataFrame.from_dict(response_json_data)
state_df.head()

In [ ]:
# get county codes
county_url = "https://aqs.epa.gov/data/api/list/countiesByState?email="+gkey +"&key="+key+"&state=06"
print(county_url)
response = requests.get(county_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
county_df = pd.DataFrame.from_dict(response_json_data)
county_df.head()

In [ ]:
#CBSAs code": "41860",
#      "value_represented": "San Francisco-Oakland-Hayward, CA

#  "Parameter code": "PM2.5 CONT NONREF",
#       "value_represented": "PM2.5 Continuous, Nonreference Methods"
#     },
#     {
#       "code": "PM2.5 MASS/QA",
#       "value_represented": "PM2.5 Mass and QA Parameters"


# "CRITERIA code": "88101",
#       "value_represented": "PM2.5 - Local Conditions"

In [ ]:
## get current 5y PM 2.5 data for SF
# https://aqs.epa.gov/data/api/sampleData/byCBSA?email=test@aqs.api&key=test&param=42602&bdate=20170101&edate=20170101&cbsa=16740
# sf_url = "https://aqs.epa.gov/data/api/sampleData/byCBSA?email="+gkey+"&key="+key+"&param=88101&bdate=20190101&edate=20190101&cbsa=41860"

# sf_url = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county=075"
# print(sf_url)
# response = requests.get(sf_url)
# response_json = response.json()
## print(response_json)
# response_json_data = response_json['Data']
## print(response_json_data)
# sf_df = pd.DataFrame.from_dict(response_json_data)
# sf_df.head()
#h ttps://aqs.epa.gov/data/api/monitors/byState?email=test@aqs.api&key=test&param=42401&bdate=20150501&edate=20150502&state=15

### Start gathering data

In [ ]:
# identify first set of 10 california counties
county_codes = city_df['code'].tolist()
county_codes_10 = county_codes[0:10]
county_codes_10

In [ ]:
# get 5 year California data for counties
total_county_data_10 = pd.DataFrame()
for i in county_codes_10:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_10 = total_county_data_10.append(county_data)
    time.sleep(2)
total_county_data_10.head()

In [ ]:
# convert to csv as a backup
total_county_data_10.to_csv("Resources/ca_10.csv")

In [ ]:
# identify second set of 10 california counties
county_codes = city_df['code'].tolist()
county_codes_20 = county_codes[11:20]
county_codes_20

In [ ]:
# get 5 year California data for counties
total_county_data_20 = pd.DataFrame()
for i in county_codes_20:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_20 = total_county_data_20.append(county_data)
    time.sleep(2)
total_county_data_20.head()

In [ ]:
# convert to csv as a backup
total_county_data_20.to_csv("Resources/ca_20.csv")

In [ ]:
# identify third set of 10 california counties
county_codes = city_df['code'].tolist()
county_codes_30 = county_codes[21:30]
county_codes_30

In [ ]:
# get 5 year California data for counties
total_county_data_30 = pd.DataFrame()
for i in county_codes_30:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_30 = total_county_data_30.append(county_data)
    time.sleep(2)
total_county_data_30.head()

In [ ]:
# convert to csv as a backup
total_county_data_30.to_csv("Resources/ca_30.csv")

In [ ]:
# identify fourth set of 10 california counties
county_codes = city_df['code'].tolist()
county_codes_40 = county_codes[31:40]
county_codes_40

In [ ]:
# get 5 year California data for counties
total_county_data_40 = pd.DataFrame()
for i in county_codes_40:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_40 = total_county_data_40.append(county_data)
    time.sleep(2)
total_county_data_40.head()

In [ ]:
# convert to csv as a backup
total_county_data_40.to_csv("Resources/ca_40.csv")

In [ ]:
# identify fifth set of 10 california counties
county_codes = city_df['code'].tolist()
county_codes_50 = county_codes[41:50]
county_codes_50

In [ ]:
# get 5 year California data for counties
total_county_data_50 = pd.DataFrame()
for i in county_codes_50:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_50 = total_county_data_50.append(county_data)
    time.sleep(2)
total_county_data_50.head()

In [ ]:
# convert to csv as a backup
total_county_data_50.to_csv("Resources/ca_50.csv")

In [ ]:
# identify last set of california counties
county_codes = city_df['code'].tolist()
county_codes_60 = county_codes[51:58]
county_codes_60

In [ ]:
# get 5 year California data for counties
total_county_data_60 = pd.DataFrame()
for i in county_codes_60:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_60 = total_county_data_60.append(county_data)
    time.sleep(2)
total_county_data_60.head()

In [ ]:
# convert to csv as a backup
total_county_data_60.to_csv("Resources/ca_60.csv")

## Step 2: Clean Data

### Import data from backup and combine

In [2]:
total_county_data_10 = df = pd.read_csv('Resources/ca_10.csv')
total_county_data_20 = df = pd.read_csv('Resources/ca_20.csv')
total_county_data_30 = df = pd.read_csv('Resources/ca_30.csv')
total_county_data_40 = df = pd.read_csv('Resources/ca_40.csv')
total_county_data_50 = df = pd.read_csv('Resources/ca_50.csv')
total_county_data_60 = df = pd.read_csv('Resources/ca_60.csv')

In [3]:
frames = [total_county_data_10, total_county_data_20, total_county_data_30,total_county_data_40,total_county_data_50,total_county_data_60]

In [4]:
combined_ca = pd.concat(frames)
# combined_ca.head()
combined_ca.count()

Unnamed: 0             780214
aqi                    651335
arithmetic_mean        780214
cbsa                   747466
cbsa_code              747466
city                   780214
county                 780214
county_code            780214
date_local             780214
date_of_last_change    780214
datum                  780214
event_type             780214
first_max_hour         780214
first_max_value        780214
latitude               780214
local_site_name        779904
longitude              780214
method                 780214
method_code            780214
observation_count      780214
observation_percent    780214
parameter              780214
parameter_code         780214
poc                    780214
pollutant_standard     651335
sample_duration        780214
site_address           780214
site_number            780214
state                  780214
state_code             780214
units_of_measure       780214
validity_indicator     780214
dtype: int64

### limit columns to desired variables

In [5]:
ca_clean = combined_ca[['aqi','cbsa','city','county','county_code','date_local','parameter_code','sample_duration','pollutant_standard','latitude','longitude','state','state_code','site_address','site_number']]
# ca_clean['county_code'] = ca_clean['county_code'].str.zfill(3)
ca_clean.head()
# ca_clean.count()

,aqi,cbsa,city,county,county_code,date_local,parameter_code,sample_duration,pollutant_standard,latitude,longitude,state,state_code,site_address,site_number
0,18.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-31,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6,793 Rincon Ave.,7
1,16.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-30,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6,793 Rincon Ave.,7
2,8.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-29,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6,793 Rincon Ave.,7
3,19.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-28,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6,793 Rincon Ave.,7
4,9.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-27,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6,793 Rincon Ave.,7

In [ ]:
# data set 1 = all records from counties with the same standard and sample duration (24 hours)
ca_clean2 = ca_clean.loc[ca_clean['pollutant_standard'] == "PM25 24-hour 2012"]
ca_clean2 = ca_clean2.loc[ca_clean['sample_duration'] != "1 HOUR"]
# ca_clean.head()
ca_clean2.count()
#ca_clean2.to_excel('templates/ca_by_site_number.xlsx')

    site_number   latitude   longitude        aqi
0             1  36.718123 -119.620151  38.373152
1             2  36.939413 -120.905160  26.402805
2             3  37.758732 -121.296760  44.194462
3             4  37.935618 -121.927227  36.919470
4             5  36.247847 -119.755068  38.810615
5             6  38.352140 -121.943190  38.148821
6             7  36.830834 -120.680340  30.993485
7             8  37.913712 -121.468993  28.480362
8             9  35.420802 -119.640888  34.577082
9            10  36.775818 -119.779231  40.052507
10           11  36.388468 -119.918586  41.722345
11           12  38.352810 -121.572678  33.925665
12           13  37.864767 -122.302741  35.732704
13           14  35.356615 -119.062613  53.420631
14           15  37.500446 -120.764964  34.898551
15           16  35.324636 -118.997627  59.586643
16           18  35.642943 -117.715066  24.581532
17           25  34.037234 -117.690889  40.250000
18           27  34.030833 -117.617220  55.968739
19          306  34.510961 -117.325540  31.044944
20          500  36.843472 -119.491949  34.324921
21         1001  39.327830 -120.184592  25.264059
22         1002  37.816054 -121.127245  44.101979
23         1003  36.263358 -119.295233  25.496881
24         1004  36.682476 -120.793726  40.592286
25         1005  37.892695 -122.564242  22.455739
26         1006  39.406765 -120.630869  36.957507
27         1008  34.844330 -120.262064  30.235202
28         1010  35.797302 -118.595307  43.098872
29         1011  32.725226 -116.365203  18.377037
..          ...        ...         ...        ...
34         1201  33.544443 -117.403768  34.502877
35         1302  33.901389 -118.205000  46.898077
36         1602  34.010290 -118.068500  46.357585
37         2001  41.726892 -122.633579  42.745562
38         2002  35.765438 -119.724670  36.236588
39         2004  34.850082 -120.516455  30.783527
40         2005  34.132600 -118.127200  38.206522
41         2006  35.256510 -120.669300  24.763926
42         2007  35.046730 -120.587770  37.236158
43         2009  36.634225 -120.382331  33.508688
44         2010  37.341585 -120.595187  43.325087
45         2011  34.445510 -119.828400  31.700282
46         2022  33.630030 -117.675930  30.758964
47         2510  37.308320 -120.480456  42.858120
48         3001  34.740959 -119.529423  33.250000
49         3002  39.018930 -122.913330  28.657143
50         3004  40.630400 -122.403100  23.634146
51         3005  40.691840 -122.401790  15.422222
52         4001  38.556326 -121.458499  31.776025
53         4002  33.823760 -118.189210  42.278840
54         4004  33.792360 -118.175330  41.083549
55         4008  33.859662 -118.200707  50.607590
56         5001  36.283692 -119.142983  43.883043
57         5003  38.494475 -121.211131  37.894578
58         5025  36.726390 -119.733000  48.060403
59         8001  34.244786 -117.839271  40.889305
60         8002  35.494530 -120.666170  23.548587
61         8005  33.996360 -117.492400  50.512115
62         9004  34.106678 -117.274063  42.527383
63         9033  34.669739 -118.130511  28.582871

[64 rows x 4 columns]

In [35]:
ca_avg2['aqi'].max()
ca_avg2['aqi'].min()

59.58664259927798

In [36]:
ca_avg_by_site = ca_avg2.to_json('Resources/ca_by_site_number.json',orient = 'records')

15.422222222222222

In [7]:
str_county_code = []
for code in ca_clean['county_code']:
    str_county_code.append(str(code))
ca_clean['str_county_code'] = str_county_code
ca_clean['zeros_county_code'] = ca_clean['str_county_code'].str.zfill(3)
ca_clean = ca_clean[['aqi','cbsa','city','county','zeros_county_code','date_local','parameter_code','sample_duration','pollutant_standard','latitude','longitude','state','state_code']]
ca_clean.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,aqi,cbsa,city,county,zeros_county_code,date_local,parameter_code,sample_duration,pollutant_standard,latitude,longitude,state,state_code
0,18.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,001,2019-03-31,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
1,16.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,001,2019-03-30,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
2,8.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,001,2019-03-29,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
3,19.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,001,2019-03-28,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
4,9.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,001,2019-03-27,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6

In [8]:
# data set 1 = all records from counties with the same standard and sample duration (24 hours)
ca_clean = ca_clean.loc[ca_clean['pollutant_standard'] == "PM25 24-hour 2012"]
ca_clean = ca_clean.loc[ca_clean['sample_duration'] != "1 HOUR"]
# ca_clean.head()
ca_clean.count()
# ca_clean = ca_columns.loc[ca_columns['pollutant_standard'] == "PM25 24-hour 2012"]

aqi                   162822
cbsa                  156150
city                  162822
county                162822
zeros_county_code     162822
date_local            162822
parameter_code        162822
sample_duration       162822
pollutant_standard    162822
latitude              162822
longitude             162822
state                 162822
state_code            162822
dtype: int64

In [11]:
# data set 2 = average aqi for every day between 3/31/2014 to 3/31/2019 by county
ca_avg = ca_clean.groupby(['date_local','zeros_county_code']).mean()
ca_avg = ca_avg.reset_index()
# ca_avg.head()
ca_avg.count()

date_local           64358
zeros_county_code    64358
aqi                  64358
parameter_code       64358
latitude             64358
longitude            64358
state_code           64358
dtype: int64

In [ ]:
# data set 3 = average aqi for each county by month
ca_avg_month = ca_clean
ca_avg_month['month'] = pd.DatetimeIndex(ca_clean['date_local']).month
ca_avg_month = ca_avg_month.groupby(['month','zeros_county_code']).mean()
ca_avg_month = ca_avg_month.reset_index()
# ca_avg_month.head()
ca_avg_month.count()

In [ ]:
#avg county aqi by month
ca_clean = ca_clean[['county', 'date_local', 'aqi']]
county_lines = ca_clean
county_lines['month'] = pd.DatetimeIndex(ca_clean['date_local']).month
county_lines = county_lines.groupby(['month', 'county']).mean()
county_lines = county_lines.reset_index()
county_lines.count()

In [12]:
# group the data by site_number for heatmap
ca_avg2 = ca_clean2.groupby(['site_number']).mean()
ca_avg2 = ca_avg.reset_index()
ca_avg2 = ca_avg2[['site_number','latitude','longitude','aqi']]
# ca_avg2.head()
ca_avg.count()

month                516
zeros_county_code    516
aqi                  516
parameter_code       516
latitude             516
longitude            516
state_code           516
dtype: int64

In [ ]:
# choose only "pm2.5 24h standard"
# sf_df_new = sf_df.loc[sf_df['pollutant_standard']=="PM25 24-hour 2012"]
# sf_df_new.head()

In [ ]:
# get min,max,mean
# aqi_min = sf_df_new['aqi'].min()
# aqi_max =sf_df_new['aqi'].max()
# aqi_mean = sf_df_new['aqi'].mean()

# print(aqi_min)
# print(aqi_max)
# print(aqi_mean)

In [ ]:
# summarize data in categories
# size_bins = [0,50,100,150,200,300,500]
# size_names= ['good','Moderate','Unhealthy for sensitive groups','unhealthy','very unhealthy','hazardous']
# sf_df_bin = sf_df_new[['date_local']].groupby(pd.cut(sf_df_new['aqi'],bins=size_bins,labels=size_names)).count()
# sf_df_bin

## Step 3: Export Data to Database

### Establish connection to database

In [13]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db = client.ca_data

### Push collections/records to database

In [33]:
collection = db['ca_data']
collection2 = db['ca_avg']
collection3 = db['ca_avg_month']
collection4 = db['ca_avg_plswork']
collection5 = db['county_lines']

In [34]:
collection.insert_many(ca_clean.to_dict('records'))
collection2.insert_many(ca_avg.to_dict('records'))
collection3.insert_many(ca_avg_month.to_dict('records'))
collection4.insert_many(ca_avg_plswork.to_dict('records'))
collection5.insert_many(county_lines.to_dict('records'))

### Test record retrieval

In [16]:
# query mongodb to get aqi for a specific day

collection = db['ca_avg']
documents = collection.find({'date_local':'2018-11-17'}, {'zeros_county_code': 1, 'aqi': 1, '_id': 0})
for x in documents:
    print(x)

{'zeros_county_code': '001', 'aqi': 182.83333333333334}
{'zeros_county_code': '007', 'aqi': 243.0}
{'zeros_county_code': '009', 'aqi': 92.0}
{'zeros_county_code': '011', 'aqi': 158.0}
{'zeros_county_code': '013', 'aqi': 197.0}
{'zeros_county_code': '019', 'aqi': 147.6}
{'zeros_county_code': '025', 'aqi': 124.0}
{'zeros_county_code': '027', 'aqi': 27.5}
{'zeros_county_code': '029', 'aqi': 53.333333333333336}
{'zeros_county_code': '031', 'aqi': 164.5}
{'zeros_county_code': '037', 'aqi': 64.4}
{'zeros_county_code': '039', 'aqi': 156.0}
{'zeros_county_code': '045', 'aqi': 144.0}
{'zeros_county_code': '047', 'aqi': 165.0}
{'zeros_county_code': '051', 'aqi': 53.0}
{'zeros_county_code': '053', 'aqi': 124.66666666666667}
{'zeros_county_code': '055', 'aqi': 179.0}
{'zeros_county_code': '057', 'aqi': 82.5}
{'zeros_county_code': '059', 'aqi': 59.0}
{'zeros_county_code': '063', 'aqi': 91.0}
{'zeros_county_code': '065', 'aqi': 55.5}
{'zeros_county_code': '067', 'aqi': 143.0}
{'zeros_county_code': '069', 'aqi': 115.0}
{'zeros_county_code': '071', 'aqi': 61.0}
{'zeros_county_code': '073', 'aqi': 45.0}
{'zeros_county_code': '075', 'aqi': 158.0}
{'zeros_county_code': '077', 'aqi': 202.0}
{'zeros_county_code': '079', 'aqi': 84.0}
{'zeros_county_code': '083', 'aqi': 74.25}
{'zeros_county_code': '085', 'aqi': 156.33333333333334}
{'zeros_county_code': '087', 'aqi': 138.0}
{'zeros_county_code': '093', 'aqi': 56.0}
{'zeros_county_code': '095', 'aqi': 186.0}
{'zeros_county_code': '097', 'aqi': 160.0}
{'zeros_county_code': '099', 'aqi': 197.5}
{'zeros_county_code': '103', 'aqi': 137.0}
{'zeros_county_code': '111', 'aqi': 65.0}

# Modifying GeoJSON Data

In [18]:
ca_geo = pd.read_json('Resources/california_counties.json')
ca_geo =ca_geo['features']
# ca_geo.head()
ca_geo.count()

58

In [19]:
ca_geo_county = ca_geo[0]['properties']['COUNTY']
ca_geo_county

'011'

In [20]:
ca_geo_coor = ca_geo[0]['geometry']
ca_geo_coor

{'type': 'Polygon',
 'coordinates': [[[-121.908269, 39.303878],
   [-121.925253, 39.276978],
   [-121.948283, 39.241767],
   [-121.933409, 39.212626],
   [-121.940108, 39.174989],
   [-121.93174, 39.142408],
   [-121.908251, 39.113922],
   [-121.878957, 39.070744],
   [-121.83148, 39.039543],
   [-121.810004, 39.005084],
   [-121.820886, 38.982855],
   [-121.835142, 38.957864],
   [-121.835094, 38.932793],
   [-121.835488, 38.924481],
   [-122.337967, 38.923945],
   [-122.340172, 38.924246],
   [-122.369919, 38.939897],
   [-122.405135, 38.959337],
   [-122.416163, 38.99151],
   [-122.446998, 39.029505],
   [-122.474532, 39.050751],
   [-122.489553, 39.063434],
   [-122.490333, 39.074607],
   [-122.486081, 39.083498],
   [-122.488132, 39.090623],
   [-122.492482, 39.102435],
   [-122.497439, 39.116654],
   [-122.480637, 39.139279],
   [-122.477309, 39.150337],
   [-122.485986, 39.17494],
   [-122.574444, 39.20677],
   [-122.607465, 39.215821],
   [-122.627909, 39.222934],
   [-122.676538, 39.229049],
   [-122.738418, 39.274334],
   [-122.772733, 39.318961],
   [-122.754763, 39.374883],
   [-122.739062, 39.383266],
   [-122.136006, 39.385494],
   [-122.136161, 39.414499],
   [-122.008857, 39.413567],
   [-122.009735, 39.383864],
   [-121.890013, 39.383864],
   [-121.894389, 39.341085],
   [-121.908269, 39.303878]]]}

In [21]:
ca_geo_clean = []
for i in range(len(ca_geo)):
    ca_geo1 = ca_geo[i]['properties']['COUNTY']
    ca_geo2 = ca_geo[i]['geometry']
    ca_geo_clean.append([ca_geo1,ca_geo2])
    
len(ca_geo_clean)

58

In [26]:
ca_geo_clean = pd.DataFrame(ca_geo_clean)
ca_geo_clean = ca_geo_clean.rename(columns = {0:"zeros_county_code", 1: 'geometry'})
ca_geo_clean.head()

  zeros_county_code                                           geometry
0               011  {'type': 'Polygon', 'coordinates': [[[-121.908...
1               021  {'type': 'Polygon', 'coordinates': [[[-121.890...
2               031  {'type': 'Polygon', 'coordinates': [[[-119.905...
3               043  {'type': 'Polygon', 'coordinates': [[[-120.387...
4               049  {'type': 'Polygon', 'coordinates': [[[-121.447...

In [27]:
ca_avg_month_clean = ca_avg_month[['month', 'zeros_county_code', 'aqi']]
ca_avg_month_clean.count()

month                516
zeros_county_code    516
aqi                  516
dtype: int64

In [28]:
properties = ca_avg_month_clean.to_dict('records')
ca_avg_month_clean['type'] = 'Feature'
ca_avg_month_clean['properties'] = properties
ca_avg_month_clean['geometry'] = ca_geo_clean['geometry']
ca_avg_month_clean.count()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

month                516
zeros_county_code    516
aqi                  516
type                 516
properties           516
geometry              58
dtype: int64

In [29]:
ca_avg_plswork = ca_avg_month_clean.merge(ca_geo_clean, on = 'zeros_county_code')
ca_avg_plswork = ca_avg_plswork.rename(columns = {'geometry_y': 'geometry'})

In [30]:
ca_avg_plswork = ca_avg_plswork[['month' , 'zeros_county_code', 'aqi', 'type', 'properties', 'geometry']]
ca_avg_plswork.count()

month                516
zeros_county_code    516
aqi                  516
type                 516
properties           516
geometry             516
dtype: int64

In [31]:
ca_avg_plswork = ca_avg_plswork[['type','properties', 'geometry']]
ca_avg_plswork.head()
ca_avg_plswork.count()

type          516
properties    516
geometry      516
dtype: int64

In [32]:
ca_avg_plswork.to_json('Resources/ca_avg_month.json', orient = 'records')