## Step 1: link to the API, pull data

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pandas.io.json import json_normalize
import requests
from config import key
from config import gkey
import time
import pymongo

In [ ]:
#get state code number --CA 06
state_url = "https://aqs.epa.gov/data/api/list/states?email="+gkey+"&key="+key
response = requests.get(state_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
state_df = pd.DataFrame.from_dict(response_json_data)
state_df.head()

In [ ]:
#get SF code -- 075
city_url = "https://aqs.epa.gov/data/api/list/countiesByState?email="+gkey +"&key="+key+"&state=06"
print(city_url)
response = requests.get(city_url)
response_json = response.json()
response_json_data = response_json['Data']
#print(response_json_data)
city_df = pd.DataFrame.from_dict(response_json_data)
city_df.head()

In [ ]:
#CBSAs code": "41860",
#      "value_represented": "San Francisco-Oakland-Hayward, CA

#  "Parameter code": "PM2.5 CONT NONREF",
#       "value_represented": "PM2.5 Continuous, Nonreference Methods"
#     },
#     {
#       "code": "PM2.5 MASS/QA",
#       "value_represented": "PM2.5 Mass and QA Parameters"


# "CRITERIA code": "88101",
#       "value_represented": "PM2.5 - Local Conditions"

In [ ]:
#get current 5y PM 2.5 data for SF
#https://aqs.epa.gov/data/api/sampleData/byCBSA?email=test@aqs.api&key=test&param=42602&bdate=20170101&edate=20170101&cbsa=16740
#sf_url = "https://aqs.epa.gov/data/api/sampleData/byCBSA?email="+gkey+"&key="+key+"&param=88101&bdate=20190101&edate=20190101&cbsa=41860"

sf_url = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county=075"
print(sf_url)
response = requests.get(sf_url)
response_json = response.json()
#print(response_json)
response_json_data = response_json['Data']
# #print(response_json_data)
sf_df = pd.DataFrame.from_dict(response_json_data)
sf_df.head()
#https://aqs.epa.gov/data/api/monitors/byState?email=test@aqs.api&key=test&param=42401&bdate=20150501&edate=20150502&state=15

In [ ]:
# get 5year California data by county
county_codes = city_df['code'].tolist()
county_codes_10 = county_codes[0:10]
county_codes_10

In [ ]:
total_county_data_10 = pd.DataFrame()
for i in county_codes_10:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_10 = total_county_data_10.append(county_data)
    time.sleep(2)
total_county_data_10.head()

In [ ]:
total_county_data_10.to_csv("ca_10.csv")

In [ ]:
county_codes = city_df['code'].tolist()
county_codes_40 = county_codes[31:40]
county_codes_40

In [ ]:
total_county_data_40 = pd.DataFrame()
for i in county_codes_40:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_40 = total_county_data_40.append(county_data)
    time.sleep(2)
total_county_data_40.head()

In [ ]:
total_county_data_40.to_csv("ca_40.csv")

In [ ]:
county_codes = city_df['code'].tolist()
county_codes_30 = county_codes[21:30]
county_codes_30

In [ ]:
total_county_data_30 = pd.DataFrame()
for i in county_codes_30:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_30 = total_county_data_30.append(county_data)
    time.sleep(2)
total_county_data_30.head()

In [ ]:
total_county_data_30.to_csv("ca_30.csv")

In [ ]:
county_codes = city_df['code'].tolist()
county_codes_50 = county_codes[41:50]
county_codes_50

In [ ]:
total_county_data_50 = pd.DataFrame()
for i in county_codes_50:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_50 = total_county_data_50.append(county_data)
    time.sleep(2)
total_county_data_50.head()

In [ ]:
total_county_data_50.to_csv("ca_50.csv")

In [ ]:
county_codes = city_df['code'].tolist()
county_codes_60 = county_codes[51:58]
county_codes_60

In [ ]:
total_county_data_60 = pd.DataFrame()
for i in county_codes_60:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_60 = total_county_data_60.append(county_data)
    time.sleep(2)
total_county_data_60.head()

In [ ]:
total_county_data_60.to_csv("ca_60.csv")

In [ ]:
county_codes = city_df['code'].tolist()
county_codes_20 = county_codes[11:20]
county_codes_20

In [ ]:
total_county_data_20 = pd.DataFrame()
for i in county_codes_20:
    county_data = "https://aqs.epa.gov/data/api/dailyData/byCounty?email="+gkey+"&key="+key+"&param=88101&bdate=20140301&edate=20190331&state=06&county="+i
    print(county_data)
    response = requests.get(county_data)
    response_json = response.json()
    response_json_data = response_json['Data']
    county_data =pd.DataFrame.from_dict(response_json_data)
    total_county_data_20 = total_county_data_20.append(county_data)
    time.sleep(2)
total_county_data_20.head()

In [ ]:
total_county_data_20.to_csv("ca_20.csv")

## Step 2: Clean data with pandas

In [2]:
total_county_data_10 = df = pd.read_csv('Resources/ca_10.csv')
total_county_data_20 = df = pd.read_csv('Resources/ca_20.csv')
total_county_data_30 = df = pd.read_csv('Resources/ca_30.csv')
total_county_data_40 = df = pd.read_csv('Resources/ca_40.csv')
total_county_data_50 = df = pd.read_csv('Resources/ca_50.csv')
total_county_data_60 = df = pd.read_csv('Resources/ca_60.csv')

In [3]:
frames = [total_county_data_10, total_county_data_20, total_county_data_30,total_county_data_40,total_county_data_50,total_county_data_60]

In [4]:
combined_ca = pd.concat(frames)
combined_ca.head()

,Unnamed: 0,aqi,arithmetic_mean,cbsa,cbsa_code,city,county,county_code,date_local,date_of_last_change,...,parameter_code,poc,pollutant_standard,sample_duration,site_address,site_number,state,state_code,units_of_measure,validity_indicator
0,0,18.0,4.2,"San Francisco-Oakland-Hayward, CA",41860.0,Livermore,Alameda,1,2019-03-31,2019-08-27,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,793 Rincon Ave.,7,California,6,Micrograms/cubic meter (LC),Y
1,1,16.0,3.9,"San Francisco-Oakland-Hayward, CA",41860.0,Livermore,Alameda,1,2019-03-30,2019-08-27,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,793 Rincon Ave.,7,California,6,Micrograms/cubic meter (LC),Y
2,2,8.0,1.8,"San Francisco-Oakland-Hayward, CA",41860.0,Livermore,Alameda,1,2019-03-29,2019-08-27,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,793 Rincon Ave.,7,California,6,Micrograms/cubic meter (LC),Y
3,3,19.0,4.5,"San Francisco-Oakland-Hayward, CA",41860.0,Livermore,Alameda,1,2019-03-28,2019-08-27,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,793 Rincon Ave.,7,California,6,Micrograms/cubic meter (LC),Y
4,4,9.0,2.1,"San Francisco-Oakland-Hayward, CA",41860.0,Livermore,Alameda,1,2019-03-27,2019-08-27,...,88101,3,PM25 24-hour 2006,24-HR BLK AVG,793 Rincon Ave.,7,California,6,Micrograms/cubic meter (LC),Y

In [6]:
combined_ca.count()

Unnamed: 0             780214
aqi                    651335
arithmetic_mean        780214
cbsa                   747466
cbsa_code              747466
city                   780214
county                 780214
county_code            780214
date_local             780214
date_of_last_change    780214
datum                  780214
event_type             780214
first_max_hour         780214
first_max_value        780214
latitude               780214
local_site_name        779904
longitude              780214
method                 780214
method_code            780214
observation_count      780214
observation_percent    780214
parameter              780214
parameter_code         780214
poc                    780214
pollutant_standard     651335
sample_duration        780214
site_address           780214
site_number            780214
state                  780214
state_code             780214
units_of_measure       780214
validity_indicator     780214
dtype: int64

In [7]:
ca_clean = combined_ca[['aqi','cbsa','city','county','county_code','date_local','parameter_code','sample_duration','pollutant_standard','latitude','longitude','state','state_code']]
ca_clean.head()

,aqi,cbsa,city,county,county_code,date_local,parameter_code,sample_duration,pollutant_standard,latitude,longitude,state,state_code
0,18.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-31,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
1,16.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-30,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
2,8.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-29,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
3,19.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-28,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6
4,9.0,"San Francisco-Oakland-Hayward, CA",Livermore,Alameda,1,2019-03-27,88101,24-HR BLK AVG,PM25 24-hour 2006,37.687526,-121.784217,California,6

In [8]:
ca_clean = ca_clean.loc[ca_clean['pollutant_standard'] == "PM25 24-hour 2012"]
ca_clean =ca_clean.loc[ca_clean['sample_duration'] != "1 HOUR"]
ca_clean.count()

aqi                   162822
cbsa                  156150
city                  162822
county                162822
county_code           162822
date_local            162822
parameter_code        162822
sample_duration       162822
pollutant_standard    162822
latitude              162822
longitude             162822
state                 162822
state_code            162822
dtype: int64

In [8]:
# ca_clean.to_excel("ca_clean.xlsx")

In [16]:
# group data by day and county to get avg aqi
ca_avg = ca_clean.groupby(['date_local','county_code']).mean()
ca_avg = ca_avg.reset_index()
ca_avg

,date_local,county_code,aqi,parameter_code,latitude,longitude,state_code
0,2014-03-01,1,15.000000,88101,37.759749,-122.124969,6
1,2014-03-01,7,9.000000,88101,39.761680,-121.840470,6
2,2014-03-01,9,18.000000,88101,38.201850,-120.680277,6
3,2014-03-01,11,10.000000,88101,39.021221,-122.281803,6
4,2014-03-01,13,28.000000,88101,37.948206,-122.191483,6
5,2014-03-01,19,7.750000,88101,36.756108,-119.911296,6
6,2014-03-01,23,38.000000,88101,41.047117,-123.675233,6
7,2014-03-01,25,32.666667,88101,32.676180,-115.483070,6
8,2014-03-01,27,9.000000,88101,36.487823,-117.871036,6
9,2014-03-01,29,5.000000,88101,35.203583,-118.604953,6
10,2014-03-01,37,25.333333,88101,33.894237,-118.197140,6
11,2014-03-01,39,20.500000,88101,37.083428,-119.866634,6
12,2014-03-01,45,13.500000,88101,39.281105,-123.279595,6
13,2014-03-01,47,0.000000,88101,37.281853,-120.433671,6
14,2014-03-01,53,15.333333,88101,36.461806,-121.494324,6
15,2014-03-01,55,30.000000,88101,38.310942,-122.296189,6
16,2014-03-01,59,16.000000,88101,33.830620,-117.938450,6
17,2014-03-01,65,14.250000,88101,33.847130,-117.206783,6
18,2014-03-01,67,11.000000,88101,38.648542,-121.266235,6
19,2014-03-01,69,2.000000,88101,36.843425,-121.362100,6
20,2014-03-01,73,22.600000,88101,32.969716,-116.953894,6
21,2014-03-01,75,14.000000,88101,37.765946,-122.399044,6
22,2014-03-01,77,8.666667,88101,37.898291,-121.261640,6
23,2014-03-01,79,27.000000,88101,35.203913,-120.622247,6
24,2014-03-01,83,22.500000,88101,34.694191,-120.132006,6
25,2014-03-01,85,7.000000,88101,37.174034,-121.734791,6
26,2014-03-01,87,20.000000,88101,37.015664,-122.031958,6
27,2014-03-01,95,20.000000,88101,38.102507,-122.237976,6
28,2014-03-01,97,15.000000,88101,38.403765,-122.818294,6
29,2014-03-01,99,8.000000,88101,37.565241,-120.915110,6
...,...,...,...,...,...,...,...
64328,2019-03-31,27,10.000000,88101,36.778777,-118.024285,6
64329,2019-03-31,29,29.800000,88101,35.352064,-118.587522,6
64330,2019-03-31,31,27.500000,88101,36.208957,-119.604548,6
64331,2019-03-31,37,38.090909,88101,34.041073,-118.180065,6
64332,2019-03-31,45,17.500000,88101,39.281105,-123.279595,6
64333,2019-03-31,47,25.000000,88101,37.308320,-120.480456,6
64334,2019-03-31,51,28.333333,88101,37.751163,-119.017773,6
64335,2019-03-31,53,11.666667,88101,36.461806,-121.494324,6
64336,2019-03-31,55,10.000000,88101,38.278849,-122.275024,6
64337,2019-03-31,57,16.000000,88101,39.280653,-120.620100,6
64338,2019-03-31,59,27.500000,88101,33.730325,-117.807190,6
64339,2019-03-31,63,44.500000,88101,39.876463,-120.707533,6
64340,2019-03-31,65,17.428571,88101,33.848759,-116.696323,6
64341,2019-03-31,67,19.500000,88101,38.606104,-121.317494,6
64342,2019-03-31,69,17.000000,88101,36.843425,-121.362100,6
64343,2019-03-31,71,29.400000,88101,34.236722,-117.475506,6
64344,2019-03-31,73,40.250000,88101,32.907213,-117.054355,6
64345,2019-03-31,75,28.000000,88101,37.765946,-122.399044,6
64346,2019-03-31,77,28.000000,88101,37.950741,-121.268523,6
64347,2019-03-31,79,25.500000,88101,35.204650,-120.621780,6
64348,2019-03-31,83,20.000000,88101,34.613494,-120.103182,6
64349,2019-03-31,85,21.500000,88101,37.258675,-121.803566,6
64350,2019-03-31,87,31.000000,88101,36.983320,-121.988220,6
64351,2019-03-31,93,19.000000,88101,41.726892,-122.633579,6
64352,2019-03-31,95,26.000000,88101,38.102507,-122.237976,6
64353,2019-03-31,97,20.000000,88101,38.403765,-122.818294,6
64354,2019-03-31,99,16.000000,88101,37.642165,-120.994212,6
64355,2019-03-31,103,0.000000,88101,40.170930,-122.255560,6
64356,2019-03-31,107,44.000000,88101,36.332179,-119.291228,6
64357,2019-03-31,111,16.333333,88101,34.311255,-118.903723,6

In [ ]:
#choose only "pm2.5 24h standard"
sf_df_new = sf_df.loc[sf_df['pollutant_standard']=="PM25 24-hour 2012"]
sf_df_new.head()

In [ ]:
#get min,max,mean
aqi_min = sf_df_new['aqi'].min()
aqi_max =sf_df_new['aqi'].max()
aqi_mean = sf_df_new['aqi'].mean()

print(aqi_min)
print(aqi_max)
print(aqi_mean)

In [35]:
# summurize data in categories
size_bins = [0,50,100,150,200,300,500]
size_names= ['good','Moderate','Unhealthy for sensitive groups','unhealthy','very unhealthy','hazardous']
sf_df_bin = sf_df_new[['date_local']].groupby(pd.cut(sf_df_new['aqi'],bins=size_bins,labels=size_names)).count()
sf_df_bin

NameError: name 'sf_df_new' is not defined

## Step 3: export data to the database

In [17]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# 'testdb' is the name of the database
db = client.ca_data

# testcollection is the name of the collection
# collection = db['ca_data']
collection2 = db['ca_avg']

# this line stays the same
# collection.insert_many(ca_clean.to_dict('records'))
collection2.insert_many(ca_avg.to_dict('records'))

In [ ]:
# query mongodb to get aqi for a specific day
my_collection = db['ca_avg']
mydoc = my_collection.find({'date_local':'2018-11-17'}, {'county_code': 1, 'aqi': 1, '_id': 0})
return_list = []
for x in mydoc:
    if x["aqi"] < 50:
        x["color"] = "good"
    elif x["aqi"] < 100:
        x["color"] = "moderate"
    elif x["aqi"] < 150:
        x["color"] = "unhealthy for sensitive groups"
    elif x["aqi"] < 200:
        x["color"] = "unhealthy"
    elif x["aqi"] < 300:
        x["color"] = "very unhealthy"
    elif x["aqi"] >= 300:
        x["color"] = "hazardous"
    return_list.append(x)
return_list

In [47]:


# index list item, asks for dicti

[{'county_code': 1, 'aqi': 182.83333333333334, 'color': 'unhealthy'},
 {'county_code': 7, 'aqi': 243.0, 'color': 'very unhealthy'},
 {'county_code': 9, 'aqi': 92.0, 'color': 'moderate'},
 {'county_code': 11, 'aqi': 158.0, 'color': 'unhealthy'},
 {'county_code': 13, 'aqi': 197.0, 'color': 'unhealthy'},
 {'county_code': 19, 'aqi': 147.6, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 25, 'aqi': 124.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 27, 'aqi': 27.5, 'color': 'good'},
 {'county_code': 29, 'aqi': 53.333333333333336, 'color': 'moderate'},
 {'county_code': 31, 'aqi': 164.5, 'color': 'unhealthy'},
 {'county_code': 37, 'aqi': 64.4, 'color': 'moderate'},
 {'county_code': 39, 'aqi': 156.0, 'color': 'unhealthy'},
 {'county_code': 45, 'aqi': 144.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 47, 'aqi': 165.0, 'color': 'unhealthy'},
 {'county_code': 51, 'aqi': 53.0, 'color': 'moderate'},
 {'county_code': 53,
  'aqi': 124.66666666666667,
  'color': 'unhealthy for sensitive groups'},
 {'county_code': 55, 'aqi': 179.0, 'color': 'unhealthy'},
 {'county_code': 57, 'aqi': 82.5, 'color': 'moderate'},
 {'county_code': 59, 'aqi': 59.0, 'color': 'moderate'},
 {'county_code': 63, 'aqi': 91.0, 'color': 'moderate'},
 {'county_code': 65, 'aqi': 55.5, 'color': 'moderate'},
 {'county_code': 67, 'aqi': 143.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 69, 'aqi': 115.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 71, 'aqi': 61.0, 'color': 'moderate'},
 {'county_code': 73, 'aqi': 45.0, 'color': 'good'},
 {'county_code': 75, 'aqi': 158.0, 'color': 'unhealthy'},
 {'county_code': 77, 'aqi': 202.0, 'color': 'very unhealthy'},
 {'county_code': 79, 'aqi': 84.0, 'color': 'moderate'},
 {'county_code': 83, 'aqi': 74.25, 'color': 'moderate'},
 {'county_code': 85, 'aqi': 156.33333333333334, 'color': 'unhealthy'},
 {'county_code': 87, 'aqi': 138.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 93, 'aqi': 56.0, 'color': 'moderate'},
 {'county_code': 95, 'aqi': 186.0, 'color': 'unhealthy'},
 {'county_code': 97, 'aqi': 160.0, 'color': 'unhealthy'},
 {'county_code': 99, 'aqi': 197.5, 'color': 'unhealthy'},
 {'county_code': 103, 'aqi': 137.0, 'color': 'unhealthy for sensitive groups'},
 {'county_code': 111, 'aqi': 65.0, 'color': 'moderate'},
 {'aqi': 300, 'color': 'hazardous'}]

In [36]:
size_bins = [0,50,100,150,200,300,500]
size_names= ['good','Moderate','Unhealthy for sensitive groups','unhealthy','very unhealthy','hazardous']